@{
    ViewData["Title"] = "BestOfThree";
}



<div class="align-content-lg-center" style="padding-top:100px; padding-bottom:100px">
    <div class="card-group">
        @foreach (var bestofthree in ViewBag.bestofthree)
        {
            <div class="card">
                <button type="button" data-toggle="modal" data-target="#@bestofthree.ID">
                    <img src="~/images/lg-1.jpg" class="img-responsive" alt="">
                </button>
                <div class="card-body">
                    <h5 class="card-title">@bestofthree.Name</h5>
                    <p class="card-text">@bestofthree.Rating</p>
                </div>
            </div>
        }

    </div>
</div>

@foreach (var bestofthree in ViewBag.bestofthree)
{
    <div class="modal fade" id="@bestofthree.ID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="img-thumbnail">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <img src="~/images/lg-1.jpg" class="img-responsive" alt="">
                </div>
                <div class="modal-content">
                    <h5 class="card-title">@bestofthree.Name</h5>
                    <p class="card-text">@bestofthree.Rating</p>
                </div>
                <button type="button" class="btn btn-primary">Отозваться</button>
            </div>
        </div>
    </div>
}